sp-based/datasets/*
sp-based/checkpoints/*
sp-based/checkpoints_from_colab/*
sp-based/processed_data/*
sp-based/*.zip
sp-based/*/__pycache__/
sp-based/.ipynb_checkpoints/

sp-based/Virtuoso-Opensource/

# output file from test_sparql_engine.py
sp-based/test_sparql_engine_output.txt

sp-based/test_results/log.txt
# sp-based/test_results/*.json  # keep the json result files

# ------------------------------

sp-based/bart_checkpoints/*
sp-based/bart_checkpoints_from_colab/*
sp-based/bart_processed_data/*
sp-based/pretrained_models/

.idea
.DS_Store
__pycache__
